// FONTS 
$default-font-family : Vazir;
$default-font-size: 16px;
$default-font-color: #333;

// DIMENSIONS
$default-max-width: 1200px;

// BOX-SHADOW
$default-box-shadow: 0 0 10px #bbb;

// BORDER-RADIUS
$default-border-radius: 8px;

